<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Card game</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="background-wrapper">
  <img src="/image/background.jpg" alt="background" class="background-img">
</div>

<div class="content">

  <h1>C.A.R.D. authors</h1>

  <div id="authors">
    <div class="authorsBox">
      <img src="/image/authors/a1.jpg" alt="authors" class="authors-img">
      <p>tbalutsel</p>
      <p>@mo_on_shi_ne</p>
    </div>
    <div class="authorsBox">
      <img src="/image/authors/a2.jpg" alt="authors" class="authors-img">
      <p>klytovchenko</p>
      <p>@Ventilatorrrrr</p>
    </div>
    <div class="authorsBox">
      <img src="/image/authors/a3.jpg" alt="authors" class="authors-img">
      <p>oshemeta</p>
      <p>@rdyviba</p>
    </div>
  </div>

  <div id="logBut">
    <a href="/home" class="miniBut">Back</a>
  </div>

</div>

</body>
</html>