<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Card game</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="background-wrapper">
  <img src="/image/background.jpg" alt="background" class="background-img">
</div>

<div class="content">
  <h1>C.A.R.D.</h1>
  <form id="loginForm" action="/login" method="post">
    <input name="login" placeholder="Login" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <button type="submit">Login</button><br>
  </form>

  <div id="logBut">
    <a href="/register" class="miniBut">Register</a>
  </div>

</div>

<div id="message">
  <div class="message-header">
    <img src="/image/authors/avatar.png" alt="Author" class="message-avatar">
    <span class="message-author">Author</span>
  </div>
  <div class="message-text" id="message-text">Hello!</div>
</div>

<script src="/scripts/error.js"></script>

</body>
</html>
