<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Card game</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="background-wrapper">
  <img src="/image/background.jpg" alt="background" class="background-img">
</div>

<div class="player-panel top-player">
  <span class="player-login">Login</span>
  <img src="/image/<%= opponentAvatar %>" alt="opponent-avatar" class="player-avatar">
  <span class="player-hp">HP: 30</span>
</div>

<div class="board-wrapper">
<img src="/image/board.jpg" alt="board" class="board-img">

<div class="container">

  <div class="left-section">
    <a href="/home" class="playBut">Quit</a>
    <img src="/image/card_back.jpg" alt="card_back" class="card_back">
    <a href="/ad" class="playBut">Watch ad</a>
  </div>

  <div class="center-section">
   <!-- карти 5 штук -->
  </div>

  <div class="right-section">
    <div class="playBut" id="timer1">00:30</div>
    <div class="playBut" id="timer2">00:30</div>
  </div>

</div>
</div>

<div class="player-panel bottom-player">
  <span class="player-login">Login</span>
  <img src="/image/<%= userAvatar %>" alt="your-avatar" class="player-avatar">
  <span class="player-hp">HP: 30</span>
</div>


</body>
</html>